*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, green, blue , orange);
}

.outer > .inner{
    height: 500px;
    width: 500px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    position: relative;
    background: linear-gradient(to right,red ,orange);
    

}

.outer > .inner> .box1{
    border: 3px solid rgb(0, 0, 0);
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: yellow;
    position: absolute;

}

.outer > .inner> .box2{
    border: 3px solid rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: yellow;
    /* position: relative;
    top: 20px;
    left: 100px; */
    position: absolute;
    right: 0px;
    
}

.outer > .inner> .box3{
    border: 3px solid rgb(0, 0, 0);
    height: 60px;
    width: 60px;
    text-align: center;
    background-color: yellow;
    /* position: relative;
    top: 20px;
    left: 100px; */
    position: absolute;
    bottom: 0px;
}

.outer > .inner> .box4{
    border: 3px solid rgb(0, 0, 0);
    height: 70px;
    width: 70px;
    text-align: center;
    background-color: yellow;
    position: absolute;
    right: 0px;
    bottom: 0px;
    
}

.outer > .inner> .box5{
    border: 3px solid rgb(0, 0, 0);
    height: 80px;
    width: 80px;
    text-align: center;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,10%);
    animation:rotate 2s ease-in infinite;
    
    
    
    /* animation: rotate 0.3ms ease-in infinite; */
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }

    to{
         transform: rotate(360deg);
    }
    
    
}

