*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: antiquewhite;
    background-image: url(./0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 30px;
    text-shadow: 5px 5px 10px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all;
    transition-duration: 2s;
    transition-delay: 0.2s;
    background-attachment: fixed;
    transition-timing-function: ease-in;
}

.outerr{
    height: 100vh;
    background-color: antiquewhite;
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 30px;
    text-shadow: 5px 5px 10px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all;
    transition-duration: 2s;
    transition-delay: 0.2s;
    background-attachment: fixed;
}

.inner{
    height: 100vh;
    background-color: antiquewhite;
    background-image: url(./3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 30px;
    text-shadow: 5px 5px 10px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all;
    transition-duration: 2s;
    transition-delay: 0.2s;
    background-attachment: fixed;
}

.outer:hover{
    font-size: 100px;
    color: chartreuse;
    text-decoration: dotted;
    background-image: url(./2.jpg);
    
}

.outerr:hover{
    font-size: 100px;
    color: rgb(27, 10, 127);
    background-image: url(./4.jpg);
}

.inner:hover{
    font-size: 100px;
    color: chartreuse;
    background-image: url(./3.jpg);
    
}